{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}
<div class="row" style="margin-top:20px; margin-left:10px; margin-right: 0px;">
    <div class="col-8">
        <h2>Available Pharmaceuticals on the Market</h2>
        <p>Click on one of the products to start buying</p>
        <br>
        <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for pharmaceutical in pharmaceuticals %}
            {% include 'includes/pharma_modals.html' %}
            <tr>
                <td>{{ pharmaceutical.id }}</td>
                <td>{{ pharmaceutical.name }}</td>
                <td>{{ pharmaceutical.barcode }}</td>
                <td>₱ {{ pharmaceutical.price }}</td>
                <td>
                    <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ pharmaceutical.id }}">More Info</button>
                    <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ pharmaceutical.id }}">Purchase this Product</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <div class="col-4">
        <h2>Owned Pharmaceuticals</h2>
        <p>Click on sell product to put product back on the Market</p>
        <br>
        <div class="row">
            {% for owned_pharmaceutical in owned_pharmaceuticals%}
            {% include 'includes/owned_products_modals.html' %}           
            <div class="col-md-6">
                <div style="margin-bottom: 5px" class="card text-center bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{ owned_pharmaceutical.name }}</h5>
                        <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_pharmaceutical.id }}">
                            Sell this Product
                        </button>
                        <p class="card-text"><strong>
                            This product costs {{ owned_pharmaceutical.price }}.00 Pesos
                        </strong></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}