{% extends 'base.html' %}
{% block title %}
Change Password
{% endblock %}
{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="#" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                CHANGE PASSWORD
            </h1>
            <br>
            <div class="form-group">
                {{ form.current_password.label(class="form-control-label") }}
                {{ form.current_password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.new_password.label(class="form-control-label") }}
                {{ form.new_password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.confirm_new_password.label(class="form-control-label") }}
                {{ form.confirm_new_password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block btn-lg") }}
            </div>
        </form>
    </div>
</body>
{% endblock %}
