{% extends 'base.html' %}
{% block title %}
Admin Dashboard
{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <div class="dashboard-buttons">
            
            <button class="btn btn-primary btn-lg">
                <a href="{{ url_for('create_user') }}" style="color: white">Create User</a>
            </button>
            <button class="btn btn-primary btn-lg">
                <a href="{{ url_for('view_users') }}" style="color: white">View User</a>

            <button class="btn btn-primary btn-lg">
                <a href="{{ url_for('add_medicine') }}" style="color: white">Add Medicine</a>
            </button>                <button class="btn btn-primary btn-lg">
                <a href="{{ url_for('view_medicines') }}" style="color: white">View Medicines</a>
        
        </div>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

{% endblock %}
