{% extends 'base.html' %}
{% block title %}
    Pharmacy Management System
{% endblock %}
{% block content %}

<div class="row justify-content-center" style="margin-top:20px; margin-left:10px; margin-right: 0px">
    <div class="col-12 text-center">
        <h2>Pharmacy Management System</h2>
        <br>
        <table class="table table-hover table-light table-bordered border-dark">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Barcode</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody >
            {% for medicine in medicines %}
            <tr>
                <td>{{ medicine.id }}</td>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.price }}</td>
                <td>{{ medicine.barcode }}</td>
                <td>{{ medicine.description }}</td>
                <td>{{ medicine.owner }}</td>
                <td>
                    <a href="{{ url_for('edit_medicine', medicine_id=medicine.id) }}" class="btn btn-warning">Edit</a>
                    <form action="{{ url_for('delete_medicine', medicine_id=medicine.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <a href="{{ url_for('add_medicine') }}" class="btn btn-success">Add Medicine</a>
    </div> 
</div>
{% endblock %}
